@charset "UTF-8";

#process .cut {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  opacity: 0;
  text-align: center;
}

.skrollr .skrollr__target {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

img {
  height: 100%;
}

.l-inner do-medium-centering {
  max-width: 1200px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}

.do-medium-centering {
  text-align: center;
}
